<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="base-login.asp" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python27\python.exe %s %s" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
